body {
    font-family: 'Philosopher', sans-serif;
    background: #FFFFFF;
    color: #006270;
    height: 100vh;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

h1, h2 {
    margin: 0;
    font-weight: 700;
}

div.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
}

div.main_lg {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: #E1E1E1;
    /*border-radius: 50%;*/
    border-radius: 0px 0px 50% 50%;
    /*width: 2071px;*/
    margin-bottom: 50px;
}

div.modal {
    width: 50%;
    padding: 40px 40px 30px;
    border-radius: 15px;
    margin: 10%;
    background: #FFFFFF;
    border: 1px solid #006270;
    box-shadow: -10px 10px 15px 5px rgba(0, 98, 112, 0.5);
}

.selector_label {
    text-align: center;
    width: 50%;
    padding: .4rem .8rem;
}

input {
    display: flex;
    font-family: 'Philosopher', sans-serif;
    border-radius: 10px;
    font-size: 28px;
    line-height: 45px;
    width: 100%;
    padding: .4rem .8rem;
    margin: 5% 0;
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    background-size: 24px 21px;
    appearance: none;
    border: 2px solid #006270;
    background-color: #FFFFFF;
    color: #006270;
}

button.btn, a.reg, .button_entrance {
    font-family: 'Philosopher', sans-serif;
    border-radius: 10px;
    font-size: 22px;
    line-height: 45px;
    float: right;
    padding: 2%;
    margin: 2%;
    border: 2px solid #006270;
    background: #FFFFFF;
    color: #006270;
}

.button_entrance {
    padding: 10px 15px;
}

.menu {
    position: absolute;
    left: 0;
    top: 0;
}

button.btn:hover,
input:hover,
a.reg:hover {
    cursor: pointer;
    background: rgba(0, 98, 112, 0.2);
}

.button_entrance:hover {
    cursor: pointer;
    background: rgb(0 186 173);
}

input:focus,
a.reg:focus,
.button_entrance:focus {
    box-shadow: 0 0 0.9rem 0.1rem rgba(0, 98, 112, 0.5);
}

.error {
    outline: 0;
    color: #212529;
    box-shadow: 0 0 0 0.25rem rgba(255, 0, 0, 0.48);
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    width: 1324px;
    margin: 0 auto;
    background: #FFFFFF;
    padding: 30px 50px;
}

.navbar .logotype {
    margin-right: 20px;
}

.navbar .logotype h1 {
    font-size: 36px;
    color: #009394;
}

.navbar ul {
    display: flex;
    flex-direction: row;
    color: #000000;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 0;
}

.navbar ul li {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    padding: 5px 10px;
    margin: 0 10px;
}

.navbar ul li:hover {
    background: #009394;
    color: #FFFFFF;
    border-radius: 20px;
    box-shadow: 3px 3px 10px 3px rgba(33, 37, 41, 0.5);
}

.navbar ul li:hover a {
    cursor: pointer;
}

.navbar .cont_entr {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 20px;
}

.navbar .cont_entr .number {
    color: black;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin: 0 20px;
}

.navbar .cont_entr .number h3 {
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
}

.navbar .cont_entr .number h5 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
}

.navbar .cont_entr a {
    padding: 10px 20px;
    background: black;
    color: #FFFFFF;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    border-radius: 20px;
    height: 44px;
    cursor: pointer;
}

.navbar .cont_entr a:hover {
    box-shadow: 3px 3px 10px 3px rgba(33, 37, 41, 0.5);
    transform: scale(1.05);
}

div.container {
    width: 1324px;
    background: #FFFFFF;
    padding: 60px 50px 20px 77px;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 50px 50px;
}

div.container .header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

div.container .btn {
    display: flex;
    margin: 50px 0;
    align-items: center;
    justify-content: center;
}

div.container .btn button:hover ~ img {
    animation-name: animate;
    animation-duration: 4s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

hr{
    width: 50%;
    border: 2px solid #009394;
    border-bottom-width: 0;
    margin: 0 auto;
}

div.reasons{
    padding: 60px 0;
    width: 1324px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

div.reasons h2{
    color: #000000;
    font-size: 40px;
    font-family: 'Philosopher',Arial,sans-serif;
    font-weight: 700;
    margin-bottom: 50px;
}

div.reasons .row{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    margin: 30px 0;
}

div.reasons .row .col-1,
div.reasons .row .col-2{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 720px;
    justify-content: space-between;
}

div.reasons .row .col-1 div,
div.reasons .row .col-2 div{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 20px 0;
    height: 180px;
    color: black;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
}

div.reasons .row .col-1 div h3,
div.reasons .row .col-2 div h3{
    /*font-family: 'Source Sans Pro', sans-serif;*/
    /*font-style: normal;*/
    font-weight: 700;
    font-size: 20px;
    line-height: 31px;
}

div.reasons .row .col-1 div h4,
div.reasons .row .col-2 div h4{

    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
}

div.container .text {
    display: flex;
    flex-direction: column;
}

div.container .text svg {
    margin: 10px 0 10px 100px;
}

div.container .text h1:nth-child(even) {
    text-indent: 100px;
}

div.container .text h1:nth-child(1),
div.container .text h1:nth-child(2) {
    font-size: 48px;
    padding: 10px 0;
    color: black;
}

div.container .text h1:nth-child(3),
div.container .text h1:nth-child(4) {
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 40px;
    padding: 13px 0;
    color: black;
}

div.container .btn h3 {
    color: #FFFFFF;
    height: 90px;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 24px 98px 24px 36px;
    border-radius: 50px;
    background: linear-gradient(87.02deg, #00E0C7 0%, #009394 34.72%, #009394 79.59%);
    display: flex;
    align-items: center;
}

div.container .btn button {
    width: 300px;
    height: 90px;
    background: #232323;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-left: -80px;
    z-index: 100;
}

div.container .btn button a {
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}

div.container .btn img {
    width: 130px;
    height: 130px;
    margin-left: -100px;
}

.pluses {
    width: 1324px;
    display: flex;
    margin: 40px 0 150px;
    flex-direction: row;
    justify-content: center;
}

.pluses div{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.pluses .white {
    background: #FFFFFF;
    color: #009394;
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.pluses div svg {
    margin-bottom: 20px;
}

.pluses .white:nth-child(3) svg {
    margin-bottom: 25px;
}

.pluses .green {
    background: #009394;
    margin: 0 -40px;
    z-index: 100;
    color: #FFFFFF;
}

.pluses div h3{
    font-family: 'Source Sans Pro', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
}

.top_menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
    background: #00E0C7;
    box-shadow: 10px 10px 15px 5px rgba(0, 98, 112, 0.45);
    z-index: 10;
}

.d-none {
    display: none;
}

.logo svg {
    fill: #006270;
}

.logotype svg {
    margin: 0 10px 0 20px;
    fill: #006270;
}

.logo h1 {
    font-size: 60px;
}

.logo {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    padding: 0 0 20px;
}

.logotype {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.logotype img {
    width: 90px;
    margin: 0 20px;
}

.logotype h1 {
    font-size: 50px;
}

.logotype {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
}

.left_menu {
    width: 400px;
    height: 100vh;
    background: #00E0C7;
    box-shadow: 10px 10px 15px 5px rgba(0, 98, 112, 0.45);
    z-index: 5;
}

.left_menu ul li p {
    cursor: pointer;
}

.person {
    padding-top: 150px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.person h1, li {
    font-size: 30px;
}

.person svg {
    fill: #006270;
}

/*.person img{*/
/*    width: 80px;*/
/*}*/

ul {
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    width: 100%;
    padding: 30px 0;
    text-align: center;
}

li:hover {
    background: rgba(0, 98, 112, 0.15);
}
